<div class="jumbotron">
    <h1>Dotnet Core</h1>
    <p class="lead">.NET Core is a set of runtime, library and compiler components. Microsoft uses these components in various configurations for device and cloud workloads. You can do the same for your app or service.</p>
    <p><a href="http://dot.net" class="btn btn-primary btn-large">Learn more &raquo;</a> <i style="vertical-align:bottom;color:#999999;">in Docker</i></p>
</div>